<p><b>Je respecte les règles déontologiques de l’EATA (Association Européenne d’Analyse Transactionnelle)</b></p>
<p>
  Reconnaissant que la déontologie consiste en une série de règles Parentales relatives à ce qui est bien et mal, la déclaration éthique de l’EATA cherche à promouvoir, en outre, le développement de l’Adulte dans le domaine de l’éthique en insistant particulièrement sur l’établissement d’un contrat Adulte clair.
</p>
<p>
  Nous reconnaissons que grâce au processus destiné à agréer nos membres, l’EATA établit un contrat social invitant le public à se convaincre de ce que les membres agréés et les membres réguliers de l’EATA admettent les conditions et principes éthiques contenus dans ce document et y adhèrent.
</p>
<p>
  Nous reconnaissons également que les membres ne s’en tiennent pas toujours à ces principes éthiques et qu’en conséquence, il se révèle parfois désirable et/ou nécessaire de confronter les membres.
</p>
<p>
  Nous reconnaissons en outre que si un comportement individuel révèle un manque d’intégration ou de conformité à ces principes, la reconnaissance de ce membre, son contrat de formation et/ou sa qualité de membre peuvent être suspendus par l’EATA jusqu’à ce que l’intégration soit assurée.
</p>

<p>
  Ces principes représentent une harmonie entre des valeurs Parentales, des données Adultes et les droits de l’Enfant.
</p>
<p>
  1. Le membre de l’EATA reconnaît la dignité de toute vie humaine sans distinction de statut physiologique, psychologique, sociologique ou économique.
</p>
<p>
  2. Dans leurs déclarations publiques, écrites ou orales, les membres de l’EATA s’abstiendront de se livrer à des affirmations désobligeantes, à des déductions et/ou à des insinuations malveillantes qui discréditent la réputation, les qualifications ou la personnalité des membres et ils garderont à l’esprit leur responsabilité en tant que représentants de l’EATA et de l’Analyse Transactionnelle.
</p>
<p>
  3. La responsabilité première des membres de l’EATA en matière de protection est de fournir les meilleurs services possibles au client et d’agir de telle sorte qu’ils ne causeront à ce dernier aucun tort intentionnel ou délibéré.
</p>
<p>
  4. Les membres de l’EATA devraient faire tout ce qui est en leur pouvoir pour développer chez le client la conscience de sa dignité, de son autonomie et de sa responsabilité personnelle et lui permettre de fonctionner d’après ces critères.
</p>
<p>
  5. La pratique éthique de l’Analyse Transactionnelle implique que le membre de l’EATA et le client entrent dans une relation contractuelle bien fondée qu’ils ont tous deux la capacité et l’intention de remplir. Lorsque le client est incapable ou refuse de fonctionner de manière autonome et responsable au sein de cette relation contractuelle, le membre de l’EATA doit apporter une solution à cette relation d’une façon qui ne nuira pas au client.
</p>
<p>
  6. Le membre de l’EATA n’exploitera le client en aucune façon, y compris, entre autres, pour les questions financières et sexuelles. Les relations sexuelles entre les membres de l’EATA et leurs clients sont interdites.
</p>
<p>
  7. Les membres de l’EATA ne concluront pas ou ne maintiendront pas un contrat professionnel lorsque ce dernier pourrait être compromis par d’autres activités ou relations entre le membre de l’EATA et son client.
</p>
<p>
  8. La relation professionnelle entre un membre de l’EATA et un client est définie par le contrat et prend fin au terme de ce contrat. Toutefois, certaines responsabilités professionnelles se poursuivent au-delà du terme de ce contrat. Elles comprennent, entre autres, les points suivants :
    <ol>
      <li>garder le secret comme convenu;</li>
      <li>éviter toute exploitation de la relation passée;</li>
      <li>fournir une assistance de suivi si nécessaire.</li>
    </ol>

</p>
<p>
  9. En établissant une relation professionnelle, c’est aux membres de l’EATA qu’incombe la responsabilité de fournir un environnement adéquat, comprenant des points tels que spécifier la nature du secret observé, fournir une sécurité physique appropriée à la forme d’activité concernée et obtenir le consentement en toute connaissance de cause du client pour les procédures à haut risque.
</p>
<p>
  10. Si des membres de l’EATA se rendent compte que des conflits personnels ou des problèmes médicaux pourraient compromettre leur aptitude à poursuivre une relation contractuelle, ils doivent ou bien mettre un terme à ce contrat de manière professionnelle et responsable ou bien s’assurer que le client dispose de toutes les informations nécessaires lui permettant de décider s’il veut poursuivre ou non la relation contractuelle.
</p>
<p>
  11. Les membres de l’EATA acceptent la responsabilité de confronter un collègue dont ils ont toutes les raisons de penser qu’il agit dans le non-respect de la déontologie et, s’ils ne trouvent pas de solution, de signaler la conduite du collègue à l’organe professionnel approprié.
</p>
<p>
  12. Les membres professionnels de l’EATA s’engageront à poursuivre en permanence leur développement personnel et professionnel et se tiendront au courant des nouveautés dans leur domaine de compétence grâce à des activités telles que des ateliers de formation, des conférences, des cours magistraux, la lecture et la rédaction de littérature professionnelle et à leur engagement dans des organisations professionnelles.
</p>
<p>
  Nous affirmons que ces principes correspondent à la pratique des personnes agréées par l’EATA, à moins qu’un membre de l’EATA ne déclare explicitement par écrit ses divergences par rapport à ces positions. Dans ce cas, le client doit être rendu attentif à ces divergences et ce point fera partie intégrante du processus d’établissement du contrat.
</p>
