<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <%= link_to "Mentions légales", legal_notice_path %>
  </div>
  <div class="footer-copyright d-none d-md-block">
    Ingrid Meunier
  </div>
</div>
