<div class="my-5 qote d-flex justify-content-center">
  <div class="qote-content">
    <i class="d-flex align-items-center justify-content-center qote-i fas fa-quote-right"></i>
    <p><i><b><%= content %></b></i></p>
    <div class="quote-borders"></div>
    <h3><%= author %></h3>
  </div>
</div>
