<div class="transition" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.4) 50%), url('<%= image_path image_path %>');">
  <div class="d-flex align-items-center h-100">
    <div class="container text-left">
      <p><%= title %></p>
      <h2><%= content %></h2>
    </div>
  </div>
</div>
