<div class="wrapper text-center bg-marron-light min-height-100vh">
  <div class="container">
    <div class="content py-5">

      <h1>Votre commande a été validée</h1>

      <br>

      <p>
        Merci de votre commande. Votre e-book vous a été envoyé par e-mail.
      </p>

      <p class= "mt-5">
        <%= link_to "Retour à la liste des e-books", ebook_surdoues_path, class: "btn-red" %>
      </p>
    </div>
  </div>
</div>
