<div class="wrapper text-center bg-marron-light">
  <div class="container">
    <div class="content py-5">
      <%= image_tag "ingrid.jpg", class: "img-thumbnail m-x-5 w-200px h-200px mb-5" %>
      <h1>Qui suis-je ?</h1>
    </div>
<!--     <div class="w-100 d-flex justify-content-between flex-wrap">
      <%#= image_tag "ingrid.jpg", class: "img-thumbnail m-x-5 w-200px h-200px" %>
      <div class="max-w-850px">
        <p>Je m'appelle Ingrid Meunier, j'ai 42 ans et suis psychophérapeute. J'ai un pied à terre dans la région bordelaise mais je suis une digitale nomade. C'est à dire que je voyage en France et ailleurs au gré des propositions et opportunités.</p>
    </div> -->
      <p>Je m'appelle <b>Ingrid Meunier</b>, j'ai 42 ans et suis <b>psychophérapeute</b>. J'ai un pied à terre dans la région bordelaise mais je suis une <b>digitale nomade</b>. C'est à dire que je voyage en France et ailleurs au gré des propositions et opportunités.</p>
    <p>J'ai commencé ma vie professionnelle par un tout autre métier dans le monde de l'entreprise, en me spécialisant en <b>organisation d'entreprise</b>. Travail qui m'a épanouie un temps mais auquel il manquait tout de même une dimension humaine essentielle pour moi. Après un temps de réflexion en thérapie, j‘ai décidé de changer d'orientation, de faire enfin le métier qui me ressemble et de suivre mes aspirations profondes : <b>aider mes semblables surdoués à s'assumer et à être fiers de qui ils sont</b>.</p>
    <p>
      Après 5 ans en cabinet (dont 90% d'adultes à haut potentiel) je faisais face à des demandes de RDV de plus en plus croissantes (et dans une zone géographique de plus en plus étendue) m'empêchant de répondre aux attentes d'un trop grand nombre. Cette frustration m'a décidé à repenser mon approche d'accompagnement. Pour ce faire, j'ai cherché à <b>dématérialiser un maximum l'aide</b> que je pouvais apporter en créant des outils <b>accessibles à tous</b> (nouveau site, ebooks, skype, questionnaire…). Cela permet aux personnes en recherche d'<b>accéder rapidement et en autonomie aux premières informations</b> importantes dont elles ont besoin, mais aussi de me dégager du temps pour pouvoir continuer à écouter, aider, expliquer, conseiller, orienter...
    </p>
  </div>
</div>

<%= render "shared/transition", image_path: "transitions/book.jpg",
                                title: "Cet univers n’est pas à l’extérieur de vous. Regardez à l’intérieur de vous-même; tout ce que vous voulez, vous l’êtes déjà. ",
                                content: "Rûmî poète mystique persan"  %>


<div class="wrapper bg-marron-light text-center">
  <div class="container">
    <div class="content py-5">
      <h2>Mon cursus de formations en psychologie : (non exhaustif)</h2>
      <ul class="text-left">
        <li><b>Analyse Transactionnelle</b> , spécialité <b>Guidance</b> : de 2009 à 2017 à l'EATSO (Ecole d'Analyse Transactionnelle du SO)</li>
        <li><b>TIPI</b> (Technique d'Identification sensorielle des Peurs Inconscientes) : 2016 à TIPI (Michel Gaborit)</li>
        <li><b>Psychopathologie</b> : 2014 à l'Institut BeeFormation </li>
        <li><b>IMO et AMO</b>  (Intégration et Actualisation par les Mouvements Oculaires) : 2012-2013 à IDCOM</li>
        <li><b>Thérapie Brève Intégrative</b>  : 2012-2013 à Psynapse (Paris)</li>
        <li><b>Coaching</b> : 2010 à ADS Consultant</li>
        <li><b>Process Communication</b> : 2009 à GB Conseil</li>
        <li>Et la meilleure des formations, une <b>thérapie personnelle</b>.</li>
      </ul>
    </div>
  </div>
</div>

<%= render "shared/transition", image_path: "transitions/book.jpg",
                                title: "Parfois lacher prise est un acte plus puissant que de se défendre ou s’accrocher.",
                                content: "Eckhart Tolle, écrivain et conférencier"  %>


<div class="wrapper bg-marron-light text-center">
  <div class="container">
    <div class="content py-5">
      <h2>Mon approche thérapeutique</h2>
      <p>
        J'aime ce qui est <b>efficace</b> car <b>quand on souffre</b>, on veut des réponses et <b>s'en sortir rapidement</b>. C'est pourquoi j'ai fait le choix d'orienter ma pratique vers <b>les thérapies brèves</b>, partant du principe qu'il n'est pas suffisant (ni forcément nécessaire) de fouiller pendant des années son passé à chercher le "pourquoi" de ses problèmes, pour pouvoir soulager ses souffrances et changer. Henri Bergson disait "La spéculation est un luxe, tandis que l'action est une nécessité". <b>Je suis thérapeute, ce qui signifie "qui soigne" et pas analyste qui veut dire "qui comprend".</b>
      </p>
      <p>
        En thérapie brève "intégrative" (ce qui signifie "multi référentielle"), <b>ce n'est pas le client qui s'adapte à la thérapie</b> que son thérapeute a choisie, <b>mais c'est ce dernier qui adapte sa pratique</b> aux problématiques et à la personnalité de son client, en utilisant les divers outils à sa disposition.
      </p>
    </div>
  </div>
</div>


<%= render "shared/transition", image_path: "transitions/book.jpg",
                                title: "L’amour et la compassion sont des nécessités, pas un luxe. Sans eux l’humanité ne peut pas survivre.",
                                content: "Dalaï Lama"  %>


<div class="wrapper bg-marron-light text-center">
  <div class="container">
    <div class="content py-5">
      <h2>Thérapie personnelle et supervision</h2>
      <p>
        La pratique de ce métier commence bien entendu par <b>un travail profond sur soi-même</b>. On ne peut, selon moi, travailler sur la psyché des autres que lorsqu'on l'a déjà fait sur soi-même. C'est le "Connais-toi toi-même" de la tradition grecque. J'ai donc entrepris, il y a de nombreuses années maintenant, un travail thérapeutique personnel et je continue aujourd'hui. Cela me permet de comprendre mon fonctionnement et, par là même, de m'impliquer sereinement à vos côtés.
      </p>
      <p>
        Par ailleurs, je veille à rester en phase avec l'évolution des techniques en <b>complétant régulièrement ma formation</b>. Ma pratique s'exerce bien sûr sous la <b>supervision</b> d'autres professionnels, une obligation déontologique selon moi.
      </p>
    </div>

  </div>
</div>





