<div class="wrapper text-center bg-marron-light min-height-100vh">
  <div class="container">
    <div class="content py-5">

      <h1>Envoi d'un message par email</h1>

      <br>

      <p>
        Merci <%= @contact.full_name %>,
        <br>
        Votre message a bien été envoyé. Je vous recontacterai dans les plus brefs délais.
      </p>

      <p>
        Bien cordialement,
        <br>
        Ingrid Meunier
      </p>
      <p class= "mt-5">
        <%= link_to "Retour à l'accueil", root_path, class: "btn-red" %>
      </p>
    </div>
  </div>
</div>
