<h1>Résultat de votre test</h1>

<p>Merci d'avoir effectué le test en auto-évaluation</p>
<p>
  Les résultats de celui-ci sont disponibles à l'adresse suivante:
</p>
<p>
  <a href="<%= survey_url(@survey.token) %>"><%= survey_url(@survey.token) %></a>
</p>

<p>
  Cordialement
  <br>
  Ingrid Meunier
</p>
