<h1>Commande de l'ebook <%= @book.title %></h1>


<p>Bonjour :)</p>
<p>Merci d'avoir téléchargé l'e-book intitulé « <%= @book.title %> ».

<% if @book.slug == "1" %>
  Cet e-book est là pour vous guider dans vos démarches vers un éventuel diagnostic. J'espère qu'il vous y
  aidera :)</p>
  <p>Si vous n'avez pas encore passé le pré-test en ligne, je vous conseille vivement de le passer. Il vous donnera déjà une 1ere idée de votre possible haut potentiel.
  www.ingrid-meunier.fr/suis-je-concerné</p>
<% else %>
  <p>J'espère que vous y trouverez tout ce que vous êtes venus chercher et même plus encore. Bonne lecture.</p>
<% end %>


<p>
  N'hésitez pas à me contacter via le formulaire de contact si vous avez <b>la moindre question</b> ou si vous souhaitez <b>un rendez-vous</b> :
  <a href="http://www.ingrid-meunier.fr/contacts/new">lien vers le formulaire de contact</a>.
</p>

<p>Je vous souhaite une bonne lecture</p>
<p>A bientôt
<br>
Ingrid Meunier
<br>
Psychothérapeute spécialiste de l'adulte surdoué</p>

<p>PS : n'étant pas fan de la polution de boite mail, vous ne recevrez pas de newsletter ou autre spam de ma
part. Je vous informerai par contre, si vous l'acceptez, dès qu'un nouvel e-book sera sorti (tous les 3-4
mois). Si vous ne souhaitez pas être tenus informés, n'hésitez pas à me le signaler.
</p>
