.banner {
  // background: -moz-linear-gradient(45deg, rgba(240,230,210,1) 0%, rgba(202,187,159,1) 100%); /* ff3.6+ */
  // background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(240,230,210,1)), color-stop(100%, rgba(202,187,159,1))); /* safari4+,chrome */
  // background: -webkit-linear-gradient(45deg, rgba(240,230,210,1) 0%, rgba(202,187,159,1) 100%); /* safari5.1+,chrome10+ */
  // background: -o-linear-gradient(45deg, rgba(240,230,210,1) 0%, rgba(202,187,159,1) 100%); /* opera 11.10+ */
  // background: -ms-linear-gradient(45deg, rgba(240,230,210,1) 0%, rgba(202,187,159,1) 100%); /* ie10+ */
  // background: linear-gradient(45deg, rgba(240,230,210,1) 0%, rgba(202,187,159,1) 100%); /* w3c */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CABB9F', endColorstr='#F0E6D2',GradientType=1 ); /* ie6-9 */
  background-color: $marron-light;
  height: calc(45vh + 70px);
  padding-top: 70px;
}

.banner > img {
  max-width: 70%;
}

.banner > .pushline {
  font-weight: bold;
  font-size: 28px;
}
