.total-score-wrapper {
  display: flex;
  justify-content: center;
}

.total-score {
  p {
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    text-align: center;
    margin-bottom: 0px;
  }
}

.total-score-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.total-score-circle {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C8BBA2;
  border-radius: 50%;
  font-size: 14px;
  z-index: 1;
  background-color: #FEFBF4;
  border: 2px solid #C8BBA2;
}

.total-score-bg-bar {
  width: 170px;
  height: 10px;
  background-color: #FEFBF4;
  margin: 0 -2px;
  border: 2px solid #C8BBA2;
}

.total-score-bar {
  width: 60%;
  height: 8px;
  background-color: #C8BBA2;
}
